#navbar {
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 80px;
  background: #ffffff;
  padding: 0 112px;
}
body {
  background: grey;
  margin: unset;
  font-family: "Work Sans", sans-serif;
}
.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  /* TheBox */
}
.link {
  gap: 50px;
  display: flex;
  position: absolute;
  right: 112px;
  top: 30px;
}
#navbar > .link > a {
  font-size: 18px;
  color: #14171f;
  text-decoration: unset;
}
#navbar > .link > #contact {
  width: 98px;

  font-weight: 600;

  /* Secondary */

  color: #f9995d;
}
#logo {
  width: 38px;
}
h1 {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  /* Primary */

  color: #2947a9;
}

.img {
  display: flex;
  align-items: center;
  height: 800px;
  padding-left: 100px;
  background-image: linear-gradient(90deg, #ffffffe6 16.58%, #ffffff00 72.38%),
    url(./photo-1487958449943-2429e8be8625.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Text {
  text-align: center;
  width: 556px;
  font-weight: 600;
  font-size: 72px;
  color: #292e3d;
  position: relative;
}

.square {
  flex: 1;
  text-align: center;
}
.Text2 {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.Text3 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
button {
  width: 50%;
  border: unset;
  background: #292e3d;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  line-height: 20px;
}
#container {
  width: 500px;
  height: 200px;
  background: #3559c7;
  position: absolute;
  bottom: 66px;
  right: 0;
  display: flex;
  flex-direction: column;
}
.navigation {
  height: 52px;
  background: rgb(255, 255, 255);
  display: flex;
  gap: 1px;
}
